@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); /*구글에서 제공하는 폰트 가져옴*/
/* 전체영역 */
*{
    font-family: 'Naum Gothic';

}
/* 기본색상 설정 */
a{
    color: #000000;
    text-decoration: none;
    }
    /* 마우스 올렸을때 색상 설정 */
a:hover{
    color: #bbbbbb;
    text-decoration: none;
    cursor: pointer;
}
/* 네비게이션 영역 */
.navbar-default{ /*배경색상*/
    background-color:#01DF01;
    border-color: #01DF01;
}
.navbar-default .navbar-brand{ /*네비게이션 제목 색상*/
    color:#ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
    background-color: transparent;
    color: #bbbbbb;
}
.navbar-default .navbar-nav:hover,
.navbar-default .navbar-nav:focus{
    background-color: transparent;
    color: #bbbbbb;
}
.navbar-default .navbar-brand > .active > a,
.navbar-default .navbar-brand > .active > a:hover,
.navbar-default .navbar-brand > .active > a:focus{
    color: white;
    background-color:#01DF01;

}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
    color: white;
    background-color:#01DF01;

}
.navbar-default .navbar-nav > .li > a:hover,
.navbar-default .navbar-nav > .li > a:focus{
    color: #000000;
    background-color:#01DF01;
    text-decoration:
}